
* {
  font-family: sans-serif;
  scrollbar-color: #222 #000;
}
html:before {
  content: '🇫🇷';
  font-size: 30px;
  position: fixed;
  top: 5px;
  left: 10px
}
#root {
  width: 100%;
}
body {
  overflow-x: hidden;
  margin: auto;
  width: 580px;
  background: #111;
  font-size: 95%;
  color: #ddd;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  a, .link {
    cursor: pointer;
    color: @secondarythemecolor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin-top: 0px;
  }
  h1 {
    font-weight: normal;
  }
  .content {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    background: #000;
  }
  /******* form *******/
  .form {
    border-top: 1px solid #666;
  }
  input[type=text],
  select,
  textarea {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    background: @themecolor-one;
    border: 1px solid @themecolor-three;
    box-sizing: border-box;
    color: #ddd;
    font-size: 92%;
    margin-top: 10px;
    scrollbar-color: @themecolor-one transparent;
  }
  .form-error {
    padding-top: 5px;
    color: red;
    font-style: italic;
    display: inherit;
  }
  input[type="file"] {
    display: none;
  }
  .container-multiple-select select {
    background: @themecolor-four;
  }


  /******* modal *******/
  .modal {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    line-height: 26px;
    .modal-content {
      margin: auto;
      max-width: 320px;
      text-align: center;
      background: #000;
      padding: 30px;
      border: 6px solid @themecolor;
      border-radius: 10px;
      img {
        display: block;
        margin: auto;
      }
    }
    .modal-buttons {
      display: flex;
      margin-top: 10px;
      button, a, label {
        .mixin-generalbutton();
        font-size: 85%;
        line-height: 34px;
        &.left, &:first-child { margin-right: 7.5px; }
        &.right, &:last-child { margin-left: 7.5px; }
      }
    }
  }


  /******* utility *******/
  .u-themecolor-container {
    background: @themecolor-one !important;
    border-radius: 4px !important;
    border: 1px solid @themecolor-three !important;
    margin-bottom: 5px !important;
    box-sizing: border-box !important;
  }
  .u-full-width { width: 100% !important; }
  .u-flex {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .u-themecolor-color { color: @themecolor !important; }
  .u-white-color { color: #fff !important; }

  .u-text-center { text-align: center !important; }
  .u-text-italic { font-style: italic !important; }

  .u-font-size-s { font-size: 90% !important; }
  .u-font-size-m { font-size: 95% !important; }
  .u-font-size-l { font-size: 100% !important; }
  .u-font-size-xl { font-size: 110% !important; }

  .u-border { border: 1px solid @themecolor-three !important; }

  .u-padding { padding: 20px !important; }
  .u-padding-s { padding: 12px !important; }

  .u-margin-s { margin: 15px !important; }
  .u-margin-m { margin: 20px !important; }
  .u-margin-bottom-s { margin-bottom: 15px !important; }
  .u-margin-bottom-m { margin-bottom: 20px !important; }
  .u-margin-top-s { margin-top: 15px !important; }
  .u-margin-top-m { margin-top: 20px !important; }
  .u-margin-left-s { margin-left: 15px !important; }
  .u-margin-left-m { margin-left: 20px !important; }
  .u-margin-right-s { margin-right: 15px !important; }
  .u-margin-right-m { margin-right: 20px !important; }

  .u-left { float: left !important; }
  .u-right { float: right !important; }
}
