
* {
  font-family: sans-serif;
  scrollbar-color: #222 #000;
  &::-webkit-scrollbar {
    background-color: #000;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 5px;
    width: 6px;
    right: 2px;
  }
}



body {
  margin: auto;
  user-select: none;
  overflow-x: hidden;
  font-size: 95%;
  color: #ddd;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  a, .link {
    cursor: pointer;
    color: @secondarythemecolor;
    text-decoration: none;
    border-radius: 3px;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin-top: 0px;
  }
  h1 {
    font-weight: normal;
  }

  /******* focus ******/
  a, .link,
  input[type=text],
  input[type=checkbox],
  select,
  textarea,
  button {
    &:focus-visible {
      outline: none !important;
      box-shadow: 0 0 0 3px @themecolor-two !important;
    }
  }

  /******* form *******/
  .form {
    border-top: 1px solid #666;
  }
  input[type=text],
  select,
  textarea {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    background: @themecolor-one;
    border: 1px solid @themecolor-three;
    box-sizing: border-box;
    color: #ddd;
    font-size: 92%;
    margin-top: 10px;
    scrollbar-color: @themecolor-one transparent;
    box-sizing: border-box;
  }
  .form-error {
    padding-top: 5px;
    color: red;
    font-style: italic;
    display: inherit;
  }
  input[type="file"] {
    display: none;
  }

  /******* toggle field ********/
  .cm-toggle {
  	-webkit-appearance: none;
  	-webkit-tap-highlight-color: transparent;
  	position: relative;
  	border: 0;
  	outline: 0;
  	cursor: pointer;
  	margin: 4px 0 0 0;
    background-color: transparent;
    border-radius: 4px;
    height: 20px;
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 4px;
      background: #000;
    }
    &:after {
      content: '';
      width: 34px;
      height: 20px;
      display: inline-block;
      background: #333;
      border-radius: 4px;
      clear: both;
    }
    &:checked {
      &:before {
        left: 16px;
      }
      &:after {
        background: @themecolor;
      }
    }
  }

  /******* common button *******/
  button.action {
    background: none;
    border: none;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    margin: 0 0;
    border-radius: 4px;
    margin-left: 6px;
    cursor: pointer;
    img {
      width: 18px;
      height: 18px;
      opacity: 0.7;
    }
  }
  .return-link {
    color: #fff;
    padding: 10px;
    padding-left: 3px;
    border-radius: 4px;
    background: @themecolor-one;
    border: 1px solid @themecolor-three;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      transform: rotate(-90deg) scale(0.9);
    }
    &:hover {
      text-decoration: none;
      transform: scale(1.02);
    }
    &:active {
      transform: scale(0.98);
    }
  }

  /******* another common button *******/
  .general-button {
    .mixin-generalbutton();
  }

  /******* another common button *******/
  .linkstyle-button {
    background: none;
    font-size: 100% !important;
    text-align: center;
    border: none;
    color: @secondarythemecolor;
    text-decoration: none;
    font-style: italic;
    margin: 0 auto 0 auto;
    display: block;
    border-radius: 3px;
    &:hover,
    &:active {
      text-decoration: underline;
      cursor: pointer;
    }
  }


  /******* utility *******/
  .u-themecolor-container {
    background: @themecolor-one !important;
    border-radius: 4px !important;
    border: 1px solid @themecolor-three !important;
    // box-shadow: inset 0 0 2px 1px #35095e !important;
    margin-bottom: 5px !important;
    box-sizing: border-box !important;
    input[type="select"], select,
    input[type="text"],
    textarea {
      border: 1px solid @themecolor-two !important;
    }
    .u-themecolor-container {
      border: 1px solid @themecolor-two !important;
    }
  }
  .u-full-width { width: 100% !important; }
  .u-flex {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .--beetwen {
    justify-content: space-between !important;
  }

  .u-themecolor-color { color: @themecolor !important; }
  .u-white-color { color: #fff !important; }

  .u-text-center { text-align: center !important; }
  .u-text-italic { font-style: italic !important; }

  .u-font-size-s { font-size: 90% !important; }
  .u-font-size-m { font-size: 95% !important; }
  .u-font-size-l { font-size: 100% !important; }
  .u-font-size-xl { font-size: 110% !important; }

  .u-border { border: 1px solid @themecolor-three !important; }

  .u-padding { padding: 20px !important; }
  .u-padding-s { padding: 12px !important; }

  .u-margin-s { margin: 15px !important; }
  .u-margin-m { margin: 20px !important; }
  .u-margin-bottom-s { margin-bottom: 15px !important; }
  .u-margin-bottom-m { margin-bottom: 20px !important; }
  .u-margin-top-s { margin-top: 15px !important; }
  .u-margin-top-m { margin-top: 20px !important; }
  .u-margin-left-s { margin-left: 15px !important; }
  .u-margin-left-m { margin-left: 20px !important; }
  .u-margin-right-s { margin-right: 15px !important; }
  .u-margin-right-m { margin-right: 20px !important; }

  .u-left { float: left !important; }
  .u-right { float: right !important; }
}
