

//-------- VAR --------//
@themecolor: #8c14fc;
@themecolor-one: #23053f;
@themecolor-two: #620eb0;
@themecolor-three: #35095e;
@themecolor-four: #120122;

@secondarythemecolor: #f8a300;


//------- MIXIN -------//
.mixin-generalbutton() {
  min-height: 34px;
  padding: 0 20px;
  border-radius: 4px;
  background: @secondarythemecolor;
  font-size: 100%;
  display: block;
  margin: 0 auto 0 auto;
  color: #060015;
  border: none;
  &:hover,
  &:active {
    cursor: pointer;
    text-decoration: none;
  }
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.99) !important;
  }
}
